<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="BoardDto" type="com.greenart.ch1.BoardDto"/>
		<typeAlias alias="CommunityDto" type="com.greenart.ch1.CommunityDto"/>
		<typeAlias alias="SearchCondition" type="com.greenart.ch1.SearchCondition"/>
		<typeAlias alias="c_SearchCondition" type="com.greenart.ch1.SearchCondition"/>
	</typeAliases>
	
</configuration>
